ipykernel
black[jupyter]
isort
flake8
python-dotenv==1.0.1
numpy==2.0.1
pandas==2.2.3
matplotlib==3.9.2
scikit-learn==1.5.2
tqdm==4.66.6
opencv-python==4.10.0.84
cryptography==43.0.3
ensemble_boxes==1.0.9
albumentations==1.4.21
