ipykernel
black[jupyter]
isort
flake8
numpy==1.26.0
pandas==2.1.1
matplotlib==3.8.0
seaborn==0.13.0
scikit-learn==1.5.1
beautifulsoup4==4.12.3
nltk==3.9.1
catboost==1.2.7
lightgbm==4.5.0
xgboost==2.1.1
mlflow==2.16.2
boto3==1.35.33
python-dotenv==1.0.1